<body>
  <div class="form animated flipInX">
    <div class="login">
      <h2>Add A Track</h2>
      <form class="form-signin" role="form" method="post" action="/tracks">
        <input name="song_title" placeholder="Track Name" type="text"></input>
        <input name="artist" placeholder="Artist/Bandname" type="text"></input>
        <input name="url" placeholder="URL" type="text"></input>
        <button>Submit</button>
      </form>
    </div>
  </div>
</body>